HZ_ENVIRONMENT=dev
SPRING_PROFILES_ACTIVE=release-mysql,local-mysql
HZ_DATASOURCE_URL=jdbc:mysql://<MYSQL_HOST>:3306/huarenzaimeng_dev?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Dhaka
SPRING_DATASOURCE_USERNAME=<SECRET:DEV_APP_USERNAME>
SPRING_DATASOURCE_PASSWORD=<SECRET:DEV_APP_PASSWORD>
SPRING_FLYWAY_USER=<SECRET:DEV_MIGRATOR_USERNAME>
SPRING_FLYWAY_PASSWORD=<SECRET:DEV_MIGRATOR_PASSWORD>
HZ_DEV_DATABASE_NAME=huarenzaimeng_dev
HZ_DEV_FUNCTION_RELEASE_ENABLED=true
HZ_ADMIN_BOOTSTRAP_ENABLED=false
HZ_ADMIN_SESSION_HOURS=8
SPRING_FLYWAY_CONNECT_RETRIES=0
