HZ_ENVIRONMENT=prod
SPRING_PROFILES_ACTIVE=release-mysql
HZ_DATASOURCE_URL=jdbc:mysql://<MYSQL_HOST>:3306/huarenzaimeng_prod?useUnicode=true&characterEncoding=utf8&useSSL=true&serverTimezone=Asia/Dhaka
SPRING_DATASOURCE_USERNAME=<SECRET:PROD_APP_USERNAME>
SPRING_DATASOURCE_PASSWORD=<SECRET:PROD_APP_PASSWORD>
SPRING_FLYWAY_USER=<SECRET:PROD_MIGRATOR_USERNAME>
SPRING_FLYWAY_PASSWORD=<SECRET:PROD_MIGRATOR_PASSWORD>
HZ_ADMIN_BOOTSTRAP_ENABLED=false
HZ_ADMIN_SESSION_HOURS=8
SPRING_FLYWAY_CONNECT_RETRIES=0
