HZ_ENVIRONMENT=stage
SPRING_PROFILES_ACTIVE=release-mysql
HZ_DATASOURCE_URL=jdbc:mysql://<MYSQL_HOST>:3306/huarenzaimeng_stage?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Dhaka
SPRING_DATASOURCE_USERNAME=<SECRET:STAGE_APP_USERNAME>
SPRING_DATASOURCE_PASSWORD=<SECRET:STAGE_APP_PASSWORD>
SPRING_FLYWAY_USER=<SECRET:STAGE_MIGRATOR_USERNAME>
SPRING_FLYWAY_PASSWORD=<SECRET:STAGE_MIGRATOR_PASSWORD>
HZ_ADMIN_BOOTSTRAP_ENABLED=false
HZ_ADMIN_SESSION_HOURS=8
SPRING_FLYWAY_CONNECT_RETRIES=0
